In [33]:
#The HelloWorld replacement
#a) Write a program that prints the numbers from 1 to 100. 
#But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". 
#For numbers which are multiples of both three and five print "HelloWorld".

#b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

for i in range (1,101):
    if i%3==0:
        if i%5==0:
            print("HelloWorld")
            
        else:
            print("Hello")
    elif i%5==0:
        print("World")
    else:
        print(i)
#b
l1=[]
for i in range (1,101):
    if i%3==0:
        if i%5==0:
            print("HelloWorld")
            l1.append("HelloWorld")
            
        else:
            print("Hello")
            l1.append("Hello")
    elif i%5==0:
        print("World")
        l1.append("World")
    else:
        print(i)
        l1.append(i)
i=0
for x in l1:
    if type(x)== str:
        l1[i]= x.replace("Hello", "Python")
        l1[i]= l1[i].replace("World", "Work")
    i=i+1     
                       
t1= tuple(l1)            
print(t1)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
<class 'list'>
(1, 2, 'Python', 4, 'Work', 'Python', 7, 8, 'Python', 'Work', 11, 'Python', 13, 14, 'PythonWork', 16, 17, 'Python', 19, 'Work', 'Python', 22, 23, 'Python', 'Work', 26, 'Python', 28, 29, 'PythonWork', 31, 32, 'Python', 34, 'Work', 'Python', 37, 38, 'Python', 'Work', 41, 'Python', 43, 44, 'PythonWork', 46, 47, 'Python', 49, 'Work', 'Python', 52, 53, 'Python', 'Work', 56, 'Python', 58, 59, 'PythonWork', 61, 62, 'Python', 64, 'Work', 'Python', 67, 68, 'Python', 'Work', 71, 'Python', 73, 74, 'PythonWork', 76, 77, 'Python', 79, 'Work', 'Python', 82, 83, 'Python', 'Work', 86, 'Python', 88, 89, 'PythonWork', 91, 92, 'Python', 94, 'Work', 'Python', 97, 98, 'Python', 'Work')

In [18]:
#2. The swap function

#Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without 
#a temporary variable
def swap(a,b):
    temp=a
    a=b
    b=temp
    return a,b
    
def swap2(a,b):
    if type(a) in (int,float) and type(b) in (float,int):
        a=b/a
        b=b/a
        a=a*b
        return a,b
    elif type(a)== str or type(b)== str:
        a=str(a)
        b=str(b)
        b=a+b
        a=(b)[len(a):len(b)]
        b=b[0:(len(b)-len(a))]
        return a,b
#test
print(swap(1,2))
print(type(1))
print(swap2("vanesa","ziu"))
print(swap2(1,2))

(2, 1)
<class 'int'>
('ziu', 'vanesa')
(2.0, 1.0)

In [139]:

#3. Computing the distance

#Write a function that calculates and returns the euclidean distance between two points u and v, where u and v are both 
#2-tuples (x,y). For example, if u=(3,0) and v=(0,4), the function should return 5
#d = √[(x2 – x1)2 + (y2 – y1)2]
def euclidean_distance(u,v):
    d= ((u[1] -u[0])**2 + (v[1] + v[0])**2)**(1/2)
    return d
euclidean_distance((3,0), (0,4))

5.0

In [101]:
#4. Counting letters

#Write a program to calculate the number of times each character occurs in a given string s. Ignore differences in 
#capitalization

#In [2]:
#s = "Write a program that prints the numbers from 1 to 100. \
#But for multiples of three print Hello instead of the number and for the multiples of five print World. \
#For numbers which are multiples of both three and five print HelloWorld."

x="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
x= str(x).lower()
list1= []
dict1= {}
for i in range(len(x)):
    if x[i] in list1:
        dict1[x[i]]= int(dict1[x[i]])+1
    else:
        list1.append(x[i])
        dict1[x[i]]= 1  
print(dict1)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

In [142]:
def unique_numbers(l):
    l1=[]
    realindex=0
    for x in l:
        n=1
        for i in range(len(l)):
            if l[i]==x:
                n=n+1
        if n==2:
            l1.append(x)
    print(l1, "in total %d numbers" % len(l1))
    


l= [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique_numbers(l)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] in total 37 numbers

In [144]:

#6. Combination of functions

#Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function 
#that returns the number raised to the 6th power using the two previous functions.

def c_square (a):
    s=a**2
    return s
def c_cube(a):
    c=a**3
    return c


def c_6thpower(a):
    p=c_square(c_cube(a))
    return p
    
print(c_6thpower(5))

15625

In [151]:

#7. Cubes

#Create a list of the cubes of x for x in [0, 10] using:

#a) a for loop

#b) a list comprehension
l=[]
for x in range(11):
    c=x**3
    l.append(c)
print(l)
    
l1=[x**3 for x in range(11)]
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [194]:

#8. Nested list comprehension

#A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. 
#The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the 
#positive integers a, b and c less than 100.

l1= tuple((a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2+b**2==c**2 ) 
print(l1)

((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

In [199]:
#9. Normalization

#Write a function that takes a tuple of numbers and returns it with the entries normalized to one

t= (0,20, 40, 5 ,8)
t1= tuple((x- min(t))/(max(t)- min(t))for x in t  )
print(t1)

(0.0, 0.5, 1.0, 0.125, 0.2)